/* DEFAULT STYLE */
/* Colors */
.blue {
    color: rgb(64, 142, 255);
}

.bg-blue {
    background-color: rgb(64, 142, 255);
}

/* Remove bootstrap box shadows */
input:focus {
    box-shadow: none !important;
}
select:focus {
    box-shadow: none !important;
}
a:focus {
    box-shadow: none !important;
}




/* NAVBAR */
/* primary */
#primary-navbar .nav-link {
    color: rgb(238, 238, 238);
    font-weight: 500;
}

#primary-navbar .nav-link:hover {
    color: white;
    
}

#primary-navbar input {
    height: 35px;
    border-color: white;
}

#primary-navbar input:focus {
    box-shadow: none;
}

#primary-navbar button {
    height: 35px;
}

#primary-navbar button:hover {
    color: rgb(170, 170, 170);
    background-color: white;
}

#primary-navbar button:focus {
    box-shadow: none;
}

/* secondary */
#secondary-navbar {
    z-index: 100;
    margin-top: 66px;
    background-color: rgba(255, 255, 255, 0.9);
}

#secondary-navbar .nav-link {
    padding: 8px 20px;
}

@media (min-width: 768px) {
    #secondary-navbar {
        padding-left: 70px;
    }
}




/* MAIN */
main {
    height: 100% !important;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-box {
    height: 100% !important;
    padding: 1.5rem 3rem;
    border-radius: 0.25rem;
    background-color: rgb(245, 245, 245);
}

@media (min-width: 992px) {
    .main-box {
        margin: 0 60px;
    }
}




/* FOOTER */
.social a {
    color: rgb(153, 153, 153);
    font-size: 25px;
    text-decoration: none;
    border-style: solid;
    border-color: #999;
    border-radius: 50%;
    border-width: 2px;
    margin: 0 10px 10px 10px;
    width: 42px;
    height: 42px;
    line-height: 38px;
    display: inline-block;
}

.social a:hover {
    color: rgb(108, 117, 125);
    font-size: 25px;
    text-decoration: none;
    border-style: solid;
    border-color: rgb(108, 117, 125);
    border-radius: 50%;
    border-width: 2px;
    margin: 0 10px;
    width: 42px;
    height: 42px;
    line-height: 38px;
    display: inline-block;
}




/* TABLE */
.data-table {
    width: 100%;
}




/* PAGES */
/* Login and register */
.form-login {
    width: 100%;
    margin: auto;
    margin-top: 50px;
    max-width: 330px;
}
.form-login #email {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-login #password {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-login button {
    min-width: 110px;
    width: 40%;
}