/* DEFAULT STYLE */
body {
    min-height: 100%;
    background-color: rgb(240, 240, 240);
}

/* Colors */
.green {
    color: rgb(34, 173, 21);
}
.green:hover {
    color: rgb(28, 149, 17);
}

.orange {
    color: rgb(255, 193, 7);
}
.orange:hover {
    color: rgb(228, 173, 9);
}

.red {
    color: rgb(220, 53, 69);
}
.red:hover {
    color: rgb(187, 45, 59);
}

/* Remove bootstrap box shadows */
input:focus {
    box-shadow: none !important;
}
select:focus {
    box-shadow: none !important;
}
a:focus {
    box-shadow: none !important;
}
button:focus {
    box-shadow: none !important;
}




/* NAVBAR */
/* primary */
#primary-navbar {
    background-color: rgb(23, 105, 228);
}

@media (min-width: 992px) {
    #primary-navbar .container {
        padding: 0 72px;
    }
}

#primary-navbar .nav-link {
    color: rgb(234, 234, 234);
    font-size: 1.03rem;
    font-weight: 500;
}
#primary-navbar .nav-link:hover {
    color: white;
}

#primary-navbar .underline {
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}
#primary-navbar .nav-link:hover .underline {
    border-color: white;
}

.navbar-icon {
    padding: 3px 8px 3px 0;
}
.navbar-icon img {
    width: 40px;
}

#primary-navbar-box {
    min-height: 62px;
}

/* secondary */
#secondary-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    z-index: 100;
    margin-top: 66px;
    background-color: rgba(255, 255, 255, 0.9);
}

#secondary-navbar .nav-link {
    padding: 8px 20px;
}

@media (min-width: 768px) {
    #secondary-navbar {
        padding-left: 70px;
    }
}

#secondary-navbar-box {
    min-height: 40px;
}




/* MAIN */
main {
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-box {
    position: relative;
    padding: 40px 50px 1px 50px;
    border-radius: 0.25rem;
    background-color: white;
}

@media (min-width: 992px) {
    .main-box {
        margin: 0 60px;
    }
}

.main-box section {
    margin-bottom: 60px;
}

.main-box h1 {
    font-size: 44px;
    margin-bottom: 70px;
    text-align: center;
}
.main-box h2 {
    font-size: 30px;
    margin-bottom: 12px;
}

.main-box p {
    font-size: 1.25rem;
    font-weight: 300;
}




/* FOOTER */
.social a {
    color: rgb(153, 153, 153);
    font-size: 25px;
    text-decoration: none;
    border-style: solid;
    border-color: #999;
    border-radius: 50%;
    border-width: 2px;
    margin: 0 10px 10px 10px;
    width: 42px;
    height: 42px;
    line-height: 38px;
    display: inline-block;
}

.social a:hover {
    color: rgb(108, 117, 125);
    font-size: 25px;
    text-decoration: none;
    border-style: solid;
    border-color: rgb(108, 117, 125);
    border-radius: 50%;
    border-width: 2px;
    margin: 0 10px;
    width: 42px;
    height: 42px;
    line-height: 38px;
    display: inline-block;
}




/* TABLE */
/* data-table */
.data-table {
    width: 100%;
}

.data-table tbody tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.025);
}
.data-table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

/* meta-table */
.meta-table {
    max-width: 600px;
}

.meta-table tr {
    border: 1px solid rgb(222, 226, 230);
}

.meta-table th,td {
    padding: 8px 20px 8px 10px;
}
.meta-table th {
    background-color: rgba(0, 0, 0, 0.025);
}
.meta-table td {
    border-right: 1px solid rgb(222, 226, 230);
}




/* ACCORDION */
.accordion-header {
    background-color: rgb(240, 240, 240);
}

.accordion-button:focus {
    border-color: rgba(0,0,0,.125);
}




/* FORM */
.form-settings input {
    max-width: 300px;
}

/* Login and register */
#login .main-box,
#register .main-box {
    max-width: 516px;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

.form-login {
    width: 100%;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 50px;
    max-width: 330px;
}
.form-login #email {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-login #password {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-login button {
    min-width: 110px;
    width: 40%;
}




/* ICON */
/* Page icon */
.page-icon {
    position: absolute;
    margin-top: 5px;
    font-size: 25px;
    color: rgb(33, 37, 41);
}

.page-icon:hover {
    color: rgb(78, 82, 85);
}

.page-icon-right {
    right: 50px;
}

/* h2 icon */
.h2-icon {
    padding-top: 3px;
    float: right;
    font-size: 24px;
    margin-right: 18px;
}

/* table icon */
.table-icon {
    visibility: hidden;
    font-size: 19px;
    text-decoration: none;
    margin-left: 8px;
}

.table-icon-row {
    text-align: right;
    padding: 6px 20px 6px 0!important;
    width: 90px;
}

tr:hover .table-icon {
    visibility: visible;
}