/* GRAY */
.gray {
  color: #adb5bd !important;
}

.gray-h:hover {
  color: #8d959d !important;
}

.bg-gray {
  background-color: #adb5bd !important;
  color: white;
}

.bg-gray-h:hover {
  background-color: #8d959d !important;
  color: white;
}

/* Dark gray */
.dgray {
  color: #6c757d !important;
}

.dgray-h:hover {
  color: #5b636a !important;
}

.bg-dgray {
  background-color: #6c757d !important;
  color: white;
}

.bg-dgray-h:hover {
  background-color: #5b636a !important;
  color: white;
}

/* RED */
.red {
  color: #e35d6a !important;
}

.red-h:hover {
  color: #e04958 !important;
}

.bg-red {
  background-color: #e35d6a !important;
  color: white;
}

.bg-red-h:hover {
  background-color: #e04958 !important;
  color: white;
}

/* YELLOW */
.yellow {
  color: #ffcd39 !important;
}

.yellow-h:hover {
  color: #ffc720 !important;
}

.bg-yellow {
  background-color: #ffcd39 !important;
  color: white;
}

.bg-yellow-h:hover {
  background-color: #ffc720 !important;
  color: white;
}

/* ORANGE */
.orange {
  color: #fd7e14 !important;
}

.orange-h:hover {
  color: #e47112 !important;
}

.bg-orange {
  background-color: #fd7e14 !important;
  color: white;
}

.bg-orange-h:hover {
  background-color: #e47112 !important;
  color: white;
}

/* GREEN */
.green {
  color: #198754 !important;
}

.green-h:hover {
  color: #177a4c !important;
}

.bg-green {
  background-color: #198754 !important;
  color: white;
}

.bg-green-h:hover {
  background-color: #177a4c !important;
  color: white;
}

/* BLUE */
.blue {
  color: #3d8bfd !important;
}

.blue-h:hover {
  color: #0d6efd !important;
}

.bg-blue {
  background-color: #3d8bfd !important;
  color: white;
}

.bg-blue-h:hover {
  background-color: #0d6efd !important;
  color: white;
}

/* DEFAULT STYLE */
body {
  min-height: 100%;
  background-color: #e9ecef;
  font-size: 16px;
}

p {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 0.25rem;
}

/* Add offset to anchor scroll */
:target:before {
  display: block;
  content: "";
  height: 120px;
  margin-top: -120px;
}

/* Remove bootstrap box shadows */
input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

select:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

a:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

button:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

textarea:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

/* NAVBAR */
/* primary */
#primary-navbar .container {
  padding: 0 72px;
}

#primary-navbar .nav-link {
  color: #e9ecef;
  font-size: 17px;
  font-weight: 500;
}

#primary-navbar .nav-link:hover {
  color: #fff;
}

#primary-navbar .nav-link::after {
  display: block;
  content: "";
  border-bottom: 2px solid #fff;
  opacity: 0;
}

#primary-navbar .nav-link:hover::after {
  opacity: 1;
}

.navbar-icon {
  padding: 3px 8px 3px 0;
}

.navbar-icon img {
  width: 40px;
}

#primary-navbar-box {
  min-height: 62px;
}

@media (max-width: 991px) {
  #primary-navbar .container {
    padding: 0 12px;
  }
}

/* secondary */
#secondary-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  z-index: 100;
  margin-top: 62px;
  background-color: #fff;
  opacity: 0.9;
}

#secondary-navbar .container {
  padding: 0 80px;
}

#secondary-navbar .nav-link {
  padding: 8px 20px;
}

#secondary-navbar-box {
  min-height: 40px;
}

@media (max-width: 991px) {
  #secondary-navbar .container {
    padding: 0 12px;
  }
}

/* MAIN */
.main-box {
  position: relative;
  margin: 1.875rem 3.75rem;
  padding: 2.5rem 3.125rem 1px 3.125rem;
  border-radius: 0.25rem;
  background-color: #fff;
  -webkit-box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.075);
          box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.075);
}

.main-box section {
  margin-bottom: 3.75rem;
}

.main-box section.section-grid {
  margin-bottom: 0;
}

.main-box section.section-grid > .row > div {
  margin-bottom: 3.75rem;
}

.main-box h1 {
  font-size: 2.75rem;
  margin: auto;
  margin-bottom: 4.375rem;
  text-align: center;
  width: 75%;
}

.main-box h2 {
  font-size: 1.875rem;
  margin-bottom: 0.75rem;
}

.main-box h3 {
  font-size: 1.625rem;
  font-weight: 400;
}

@media (max-width: 1199px) {
  .main-box h1 {
    width: 80%;
  }
}

@media (max-width: 991px) {
  .main-box {
    margin: 0;
  }
}

/* FOOTER */
.footer {
  margin-bottom: 0.94rem;
}

.social {
  margin-bottom: 0.625rem;
}

.social-icon {
  display: inline-block;
  color: #adb5bd;
  font-size: 1.5rem;
  border: 2px solid #adb5bd;
  border-radius: 50%;
  margin: 0 0.625rem;
  width: 2.625rem;
  height: 2.625rem;
}

.social-icon:hover {
  color: #6c757d;
  border-color: #6c757d;
}

.social-icon-s {
  font-size: 1.4rem;
}

.social-icon-l {
  font-size: 1.65rem;
}

.footer-copyright {
  color: #6c757d;
  font-size: 1rem;
  font-weight: 400;
}

/* BANNER */
.banner {
  position: absolute;
  top: 62px;
  left: 0;
  right: 0;
  height: 26.25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: #fff;
  opacity: 0.2;
}

/* TABLE */
.table-col-minwidth {
  width: 1px;
}

.highlight-row {
  background-color: #fff3cd !important;
}

.highlight-row:hover {
  background-color: #ffecb5 !important;
}

/* data-table */
.data-table {
  min-width: 99.5%;
}

.data-table th,
.data-table td {
  border-color: #dee2e6 !important;
}

.data-table tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

.data-table tbody tr:hover {
  background-color: #e9ecef;
}

.data-table-nohead th {
  margin: 0;
  padding: 0;
  height: 0;
}

/* meta-table */
.meta-table th, td {
  padding: 0.5rem 0.625rem;
}

.meta-table th {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-right: none;
}

.meta-table td {
  border: 1px solid #dee2e6;
  border-left: none;
  padding-right: 1.25rem;
}

/* ACCORDION */
.accordion-header {
  background-color: #f8f9fa;
}

.accordion-button:focus {
  border-color: #ced4da;
}

/* FORM */
.form-item {
  margin-bottom: 1.875rem;
}

.form-required::after {
  color: #dc3545;
  font-weight: 600;
  content: " * ";
}

/* Modal */
.form-modal .form-item {
  margin-bottom: 1rem;
}

/* Page */
.form-page .input-group-text {
  background-color: #f8f9fa;
}

/* Settings */
.form-settings {
  margin: auto;
  max-width: 37.5rem;
}

.form-settings textarea {
  height: 6.875rem;
}

.form-settings .input-file-dragenter {
  border-color: #86b7fe;
}

/* Login */
.form-login {
  width: 100%;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 50px;
  max-width: 330px;
}

.form-login h1 {
  font-size: 2.185rem;
  font-weight: 400;
}

.form-login #email {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-login #password {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-login button {
  min-width: 110px;
  width: 40%;
}

/* Title */
.form-table {
  text-align: center;
}

.form-table select {
  display: inline-block;
  max-width: 13rem;
}

.form-table .form-check label {
  vertical-align: middle;
}

.form-table-bottom .btn {
  margin: 2px 0;
}

/* ICON */
/* Page icon */
.page-icons {
  position: absolute;
  margin-top: 0.375rem;
}

.page-icons-left {
  left: 2.875rem;
}

.page-icons-right {
  right: 2.875rem;
  text-align: right;
}

.page-icon-box {
  display: inline-block;
  text-align: center;
  width: 2.375rem;
}

.page-icon {
  font-size: 1.65rem;
  color: #212529;
  text-decoration: none;
}

.page-icon:hover {
  color: #495057;
}

.page-icon-text {
  display: none;
  font-size: 1.25rem;
}

.page-icons-always-collapsed .page-icon {
  font-size: 1.375rem;
}

.page-icons-always-collapsed .page-icon-text {
  display: inline;
}

@media (max-width: 1199px) {
  .page-icon {
    font-size: 1.375rem;
  }
  .page-icon-text {
    display: inline;
  }
  .page-icons-never-collapsed .page-icon {
    font-size: 1.65rem;
  }
  .page-icons-never-collapsed .page-icon-text {
    display: none;
  }
}

/* New message circle */
.new-message-circle {
  display: inline-block;
  margin-left: -1.125rem;
  font-size: 0.875rem;
  color: #fff;
  background-color: #dc3545;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  text-align: center;
  line-height: 1.065rem;
}

/* Title icon */
.title-icon {
  float: right;
  margin-right: 1.125rem;
}

/* H2 icon */
.h2-icon {
  font-size: 1.5rem;
  padding-top: 0.315rem;
}

/* Label icon */
.label-icon {
  font-size: 1.25rem;
  margin-top: -0.25rem;
}

/* table icon */
.table-icon-cell {
  padding: 0 8px 0 0 !important;
  width: 1px;
  white-space: nowrap;
  vertical-align: middle;
  text-align: right;
}

.table-icon-col-first tr td:first-child {
  padding-left: 8px !important;
}

.table-icon-col-last tr td:last-child {
  padding-right: 20px !important;
}

.table-icon {
  font-size: 1.185rem;
  text-decoration: none;
  margin-left: 8px;
  vertical-align: middle;
}

.table-icon-s {
  font-size: 1.065rem;
}

.table-icon-l {
  font-size: 1.375rem;
}

.table-icon-hide {
  visibility: hidden;
}

tr:hover .table-icon-hide {
  visibility: visible;
}

.table-icon-blank {
  visibility: hidden !important;
}

/* Role badge */
.role-badge {
  padding: 0.315rem;
  text-align: center;
  width: 2.25rem;
}

/* SHAPE */
.circle {
  display: inline-block;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
}

.circle-s {
  width: 0.625rem;
  height: 0.625rem;
}

/* LIST */
.list-multi-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.list-multi-col .list-item {
  padding-right: 1.875rem;
}

/* PAGE */
/* Login and register */
#login .main-box,
#register .main-box {
  max-width: 516px;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* Player edit */
#player-edit #username-preview {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.625rem;
  font-weight: 500;
  background: black;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

#player-edit #username-color-l,
#player-edit #username-color-r {
  max-width: 40px;
}

/* Leaderboard */
#leaderboard #community-ranking .list-multi-col {
  margin-top: 2.815rem;
  max-height: 6.25rem;
  margin-bottom: 1rem;
}
/*# sourceMappingURL=styles.css.map */