/* DEFAULT STYLE */
body {
    min-height: 100%;
    background-color: rgb(240, 240, 240);
}

p {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 0.25rem;
}

h3 {
    font-size: 26px;
    font-weight: 400;
}

/* Add offset to anchor scroll */
:target:before {
    display: block;
    content: "";
    height: 120px;
    margin-top: -120px;
}

/* Remove bootstrap box shadows */
input:focus {
    box-shadow: none !important;
}
select:focus {
    box-shadow: none !important;
}
a:focus {
    box-shadow: none !important;
}
button:focus {
    box-shadow: none !important;
}
textarea:focus {
    box-shadow: none !important;
}




/* NAVBAR */
/* primary */
#primary-navbar .container {
    padding: 0 72px;
}

#primary-navbar .nav-link {
    color: rgb(234, 234, 234);
    font-size: 1.03rem;
    font-weight: 500;
}
#primary-navbar .nav-link:hover {
    color: white;
}

#primary-navbar .underline {
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}
#primary-navbar .nav-link:hover .underline {
    border-color: white;
}

.navbar-icon {
    padding: 3px 8px 3px 0;
}
.navbar-icon img {
    width: 40px;
}

#primary-navbar-box {
    min-height: 62px;
}

@media (max-width: 991px) {
    #primary-navbar .container {
        padding: 0 12px;
    }
}

/* secondary */
#secondary-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    z-index: 100;
    margin-top: 62px;
    background-color: rgba(255, 255, 255, 0.9);
}

#secondary-navbar .container {
    padding: 0 80px;
}

#secondary-navbar .nav-link {
    padding: 8px 20px;
}

#secondary-navbar-box {
    min-height: 40px;
}

@media (max-width: 991px) {
    #secondary-navbar .container {
        padding: 0 12px;
    }
}




/* MAIN */
main {
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-box {
    position: relative;
    margin: 0 60px;
    padding: 40px 50px 1px 50px;
    border-radius: 0.25rem;
    background-color: white;
    box-shadow: 3px 3px .25rem rgba(0, 0, 0, .075);
}

.main-box section {
    margin-bottom: 60px;
}

.main-box section.section-grid {
    margin-bottom: 0;
}

.main-box section.section-grid > .row > div {
    margin-bottom: 60px;
}

.main-box h1 {
    font-size: 44px;
    margin: auto;
    margin-bottom: 70px;
    text-align: center;
    width: 75%;
}
.main-box h2 {
    font-size: 30px;
    margin-bottom: 12px;
}

@media (max-width: 1199px) {
    .main-box h1 {
        font-size: 40px;
        width: 80%;
    }
}

@media (max-width: 991px) {
    .main-box {
        margin: 0;
    }
}




/* FOOTER */
.footer {
    margin-bottom: 15px;
}

.social a {
    color: rgb(153, 153, 153);
    font-size: 25px;
    text-decoration: none;
    border-style: solid;
    border-color: #999;
    border-radius: 50%;
    border-width: 2px;
    margin: 0 10px 10px 10px;
    width: 42px;
    height: 42px;
    line-height: 38px;
    display: inline-block;
}

.social a:hover {
    color: rgb(108, 117, 125);
    font-size: 25px;
    text-decoration: none;
    border-style: solid;
    border-color: rgb(108, 117, 125);
    border-radius: 50%;
    border-width: 2px;
    margin: 0 10px;
    width: 42px;
    height: 42px;
    line-height: 38px;
    display: inline-block;
}

.footer-copyright {
    color: #6c757d;
    font-size: 16px;
    font-weight: 400;
}




/* BANNER */
.banner {
    position: absolute;
    top: 62px;
    left: 0;
    right: 0;
    height: 420px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
}




/* TABLE */
.table-col-minwidth {
    width: 1px;
}

.highlight-row {
    background-color: rgb(255, 245, 235) !important;
}

.highlight-row:hover {
    background-color: rgb(248, 236, 225) !important;
}

/* data-table */
.data-table {
    min-width: 99.5%;
}

.data-table thead th {
    border-bottom-color: rgb(222, 226, 230) !important;
}

.data-table tbody tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.025);
}
.data-table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.data-table-nohead th {
    margin: 0;
    padding: 0;
    height: 0;
}

.data-table-select {
    display: inline;
    width: 260px;
    margin-bottom: 12px;
}

/* meta-table */
.meta-table th,td {
    padding: 8px 10px 8px 10px;
}
.meta-table th {
    background-color: rgba(0, 0, 0, 0.025);
    border: 1px solid rgb(222, 226, 230);
    border-right: none;
}
.meta-table td {
    border: 1px solid rgb(222, 226, 230);
    border-left: none;
    padding-right: 20px;
}




/* ACCORDION */
.accordion-header {
    background-color: rgb(240, 240, 240);
}

.accordion-button:focus {
    border-color: rgba(0,0,0,.125);
}




/* FORM */
.form-item {
    margin-bottom: 30px;
}

.form-required::after {
    color: red;
    font-weight: 600;
    content: " * ";
}

/* Modal */
.form-modal .form-item {
    margin-bottom: 16px;
}

/* Page */
.form-page {
    padding-top: 3px;
}

.form-page .input-group-text {
    background-color: rgba(0, 0, 0, 0.025);
}

/* Settings */
.form-settings {
    margin: auto;
    max-width: 600px;
}

.form-settings textarea {
    height: 110px;
}

.form-settings .input-file-dragenter {
    border-color: #86b7fe;
}

/* Login */
.form-login {
    width: 100%;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 50px;
    max-width: 330px;
}

.form-login h1 {
    font-size: 35px;
    font-weight: 400;
}

.form-login #email {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login #password {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-login button {
    min-width: 110px;
    width: 40%;
}




/* ICON */
/* Page icon */
.page-icons {
    position: absolute;
    margin-top: 10px;
}

.page-icons-left {
    left: 46px;
}

.page-icons-right {
    right: 46px;
    text-align: right;
}

.page-icon-text {
    display: none;
    font-size: 20px;
}

.page-icons-always-collapsed .page-icon-text {
    display: inline;
}

.page-icon-box {
    display: inline-block;
    text-align: center;
    width: 38px;
}

.page-icon {
    font-size: 25px;
    color: rgb(33, 37, 41);
    text-decoration: none;
}

.page-icons-always-collapsed .page-icon {
    font-size: 22px;
}

.page-icon:hover {
    color: rgb(78, 82, 85);
}

@media (max-width: 1199px) {
    .page-icon-text {
        display: inline;
    }

    .page-icons-never-collapsed .page-icon-text {
        display: none;
    }

    .page-icon {
        font-size: 22px;
    }
}

/* New message circle */
.new-message-circle {
    display: inline-block;
    margin-left: -18px;
    font-size: 14px;
    color: white;
    background-color: red;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    line-height: 17px;
}

/* Title icon */
.title-icon {
    float: right;
    margin-right: 18px;
}

/* H2 icon */
.h2-icon {
    font-size: 24px;
    padding-top: 3px;
}

/* Label icon */
.label-icon {
    font-size: 20px;
    margin-top: -3px;
}

/* table icon */
.table-icon-cell {
    padding: 0 8px 0 0 !important;
    width: 1px;
    white-space: nowrap;
    vertical-align: middle;
    text-align: right;
}

.table-icon-col-first tr td:first-child {
    padding-left: 8px !important;
}

.table-icon-col-last tr td:last-child {
    padding-right: 20px !important;
}

.table-icon {
    font-size: 19px;
    text-decoration: none;
    margin-left: 8px;
    vertical-align: middle;
}

.table-icon-s {
    font-size: 17px;
}

.table-icon-l {
    font-size: 22px;
}

.table-icon-hide {
    visibility: hidden;
}
tr:hover .table-icon-hide {
    visibility: visible;
}

.table-icon-blank {
    visibility: hidden !important;
}

/* Role badge */
.role-badge {
    font-size: 12px;
    padding: 5px 5px;
    text-align: center;
    width: 36px;
}




/* SHAPE */
.circle {
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.circle-s {
    width: 10px;
    height: 10px;
}




/* LIST */
.list-multi-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
}

.list-multi-col .list-item {
    padding-right: 30px;
}




/* PAGE */
/* Login and register */
#login .main-box,
#register .main-box {
    max-width: 516px;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* Player edit */
#player-edit #username-preview {
    display: block;
    text-align: center;
    margin-bottom: 15px;
    font-size: 26px;
    font-weight: 500;
}
#player-edit #username-preview {
    background: black;
	-webkit-text-fill-color: transparent;
    background-clip: text;
	-webkit-background-clip: text;
}

/* Leaderboard */
#leaderboard #community-ranking .list-multi-col {
    margin-top: 45px;
    max-height: 100px;
    margin-bottom: 15px;
}